<div class="card-rental">
  <h3 class="card-name-barbecue"><%= @barbecue.name %></h3>
  <div class="card-rental-description">
    <div class="card-rental-photo">
      <%= cl_image_tag @barbecue.photo%>
    </div>
    <div class="card-information">
      <div class="card-rental-info">
        <ul>
          <li><strong>Description:</strong> <%= @barbecue.description %></li>
          <li><strong>Category:</strong> <%= @barbecue.category %></li>
          <li><strong>Location:</strong> <%= @barbecue.location %></li>
        </ul>
      </div>
      <div class="card-rental-rented">
        <%= image_tag('saucisse.png', size: "60x180" ) %>
        <a href="#" class="btn btn-warning">Grill me plz! :(</a>
      </div>
    </div>
  </div>
  <div class="card-rental-owner-information">
    <p><em><%= @barbecue.user.email %></em></p>
  </div>
</div>
