  <div class="card-bbq-show-name"><%= @barbecue.name %></div>
  <div class="card-bbq-show-details">
    <div class="card-bbq-show-photo">
      <%= cl_image_tag @barbecue.photo, width: 320, crop: :fill %>
    </div>
    <div class="card-bbq-show-information">
      <div class="card-bbq-show-text">
        <div class="bbq-basics">
          <li class="bbq-text">Disponible à <strong><%= @barbecue.location %></strong> </li>
          <li class="bbq-text">Utilisation: <strong><%= @barbecue.category %></strong> </li>
          <li class="bbq-text"><strong>Description:</strong> <%= @barbecue.description %></li>
          <li id="bbq-price"><%= @barbecue.price %> €</li>
          <div class="btn-ghost submit-bbq">
            <%= link_to 'Réserve moi!',new_barbecue_rental_path(@barbecue)%>
          </div>
        </div>
      </div>
    </div>
  </div>

