<%=link_to rental_path(rental),class: "card-trip" do %>
  <div class="card-trip">
       <%= cl_image_tag rental.barbecue.photo, height: 500, width: 450, crop: :fill %>
    <div class="card-trip-infos">
  <%= rental.start_date %>
      <%=rental.end_date%>
       <%=rental.barbecue.name%>
    </div>
  </div>
<% end %>
