<div class="container-bbq-show">

  <div class="card-container">
    <div class="card-information">
      <div class="card-description">
        <h6> Type barbecue : <%= @barbecue.category %></h6>
        <h2> <%= @barbecue.name %> </h2>
        <p class="mail"> <%= @barbecue.user.email %> <p>
          <p class="descrition"> <%= @barbecue.description %> </p>
        </div>
        <div class="price-information">
          <div class="img-fa">
            <i class="far fa-money-bill-alt"></i>
          </div>
          <div class="card-price">
            <p class="gris">Prix à la journée</p>
            <p><em><%= @barbecue.price %>.00€</em></p>
          </div>
        </div>
        <div class="bbq-reviews">
          <% @barbecue.reviews.each do |review| %>
          <li>
            <strong>Note: </strong>
            <% review.rating.times do %>
            <i class="fas fa-star font-color-red"></i>
            <% end %>
            <% (5 - review.rating).times do %>
            <i class="far fa-star font-color-red"></i>
            <% end %>

          </li>
          <li class="bbq-text"><strong>Review: </strong><%= review.content%></li>
          <% end %>
        </div>
        <div class="card-rating">
        </div>
      </div>
      <div class="photo">
        <%= cl_image_tag @barbecue.photo ,height: 400, width: 350, class: "card-photo" %>
      </div>
    </div>

    <div class="booking-details">
      <% if @barbecue.user == current_user %>
      <%= link_to "Supprimer", @barbecue, class: "btn", method: :delete %>
      <%= link_to "Modifier", edit_barbecue_path(@barbecue), class: "btn" %>
      <div id="bbq-price">
        <p class="price">
          <%= @barbecue.price %> €
        </p>
      </div>
      <% else %>
      <div id="rental-form" data-rentals="<%= @dates_rentals.to_json %>">
        <%= simple_form_for [@barbecue, @rental] do |f| %>
        <%= f.input  :start_date, as: :string, label: "Dates de location", required: false, input_html: {id: "range_start", class: "d-none"} %>
        <%= f.input  :end_date,   as: :string, label: false, required: false, input_html: {id: "range_end" , class: "d-none"} %>
        <div id="new-rental-details">
          <div id="bbq-price">
            <p id="price" data-unitPrice="<%= @barbecue.price %>"> <%= @barbecue.price %> € </p>
            <div class="btn">
              <%= f.button :submit, "Je réserve ! !" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


